.grid {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid;
  width: 625px;
  height: 625px;
}
.grid div {
  width: 25px;
  height: 25px;
}
.shooter {
  background-color: green;
}
.invader {
  background-color: purple;
  border-radius: 50%;
}
.boom {
  background-color: red;
}
.laser {
  background-color: orange;
}
